.metadata/
IDP/.settings/
IDP/bin/
IDP/res/
IDP/ic_launcher-web.png
RemoteSystemsTempFiles/
LateLiao/bin/
LateLiao/gen/
.class
.classpath
LateLiao/project.properties
Sample/Nav2/bin/
Sample/Nav2/gen/
Sample/Nav2/project.properties
LateLiao/LateLiao/src/com/aws/AwsCredentials.properties